@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

body {
  margin: 0;
  background-color: #d5e0ef;
  font-family: "Outfit";
  min-height: 100vh;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block {
  background-color: white;
  width: 320px;
  border-radius: 20px;
  padding: 1rem;
  max-width: 24rem;
  margin: auto;
}

.block-img {
  flex: 1;
  border-radius: 20px;
  max-width: 100%;
}
.block h1 {
  font-size: 1.5rem;
  text-align: center;
  padding: 25px 20px 20px 20px;
}
.block p {
  padding: 0px 20px 25px 20px;
  text-align: center;
  font-size: 15px;
  color: gray;
}
